@page
@model IndexModel
@{
    ViewData["Title"] = "ホーム";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auto Combo Craft</title>
    <link rel="stylesheet" href="~/css/baseStyle.css" />
</head>
<body>

    <div class="header">
        <h1>Auto Combo Craft</h1>
        <p class="baseText">サブタイトル</p>
    </div>

    <div class="content">
        <h2 class="baseText">内容</h2>
        <p class="baseText">～～～～</p>
    </div>

</body>
</html>
